<h2>Add another Big Cat!</h2>

<form method="POST" action="/big_cats">
  <label for="breed">Name: </label>
  <input type="text" name="breed" id="breed"/>
  <label for="average_age">Life Expectancy: </label>
  <input type="number" name="average_age" id="average_age"/>
  <label for="length">Length: </label>
  <input type="number" name="length" id="length"/>
  <label for="weight">Weight: </label>
  <input type="number" name="weight" id="weight"/>
  <input type="submit" value="Add Big Cat">
</form>
